   <link rel="stylesheet" href="/style.css">
   <link rel="stylesheet" href="/Emojistylesheet.css">
<div class="hero">
   <div class="hero-inner">
    <h1>Welcome To Our Site!</h1>
    <P>This site is to help you organise your thoughts and ideas into manageable sizes.  Simply select the "To do button" to create a task, select a date when the task is due, it is that simple!
      Why not try our "Campsite" feature, this will help you to keep things in perspective when the pressure is mounting.
    </P>
   </div>
  </div>
  <br>
  <!--Parent Div-->
  <div class="grid-container">
    <div class="grid-emoji">
          <h2>New to this site - please Sign Up</h2>
          <div class="emoji-container">
          <div class="emoji">
            <div class="head">
                <div class="eyes">
                <div class="eye eye-left"></div>
                <div class="eye eye-right"></div>
           </div> 
           <div class="mouth"></div>   
        </div> 
        </div>   
      </div>
      <p>{{generateQuote}}</p>
    </div>
    
    
      

<!---End of first div section  -->
  {{#if logged_in}}
        <div class="grid-task-bar">
          <form id="new-todo-form">
            <h2>2DO Tasks</h2>
        <div class="task">
          <label for="task">New Task</label>
          <input type="text-box" class="text-box" name="task" placeholder="task">
          <div class="due-date">
          <label for="date">Due Date</label>
          <input type="date" name="date" id="date" placeholder="date">
        </div>
        </div>  
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!--
        </div>
        -->
            <button type="submit" class="submit-btn">Submit</button>
            <button type="reset" class="submit-btn">Reset</button>
            <button type="menu" class="submit-btn">logs</button>
        </form>
        <section class="created-to-dos">
         {{#if toDos.length }}
                  <form><br>

              {{#each toDos as |todo| }}
              {{#unless todo.completed}}
              <input type="checkbox" id="{{todo.id}}" name="todo" class="font-aleo">
              <label for="{{todo.id}}">{{todo.task}}</label>
              <p>Date due: {{format_date todo.date_due}}</p>
              {{/unless}}
              {{/each}} 

            </form>
            {{/if}}
  </section>
        </div>  
{{/if}}
</div>


{{#if logged_in}}
<script src="./js/homepage.js"></script>
{{/if}}

